
.kj-icon-play:before { content: '\e800'; } /* '' */
.kj-icon-cancel:before { content: '\e801'; } /* '' */
.kj-icon-ok:before { content: '\e802'; } /* '' */
.kj-icon-to-start:before { content: '\e803'; } /* '' */